<form action="/favourite" method="post" class="mt-6">
  <input type="hidden" name="id" value="<%= home._id %>">
  <button
    type="submit"
    class="w-full bg-rose-500 hover:bg-rose-600 text-white font-semibold py-2 px-4 rounded-lg transition duration-300 shadow-md"
  >
     Add to Favourite
  </button>
</form>
