<%- include('../partials/head') %>

</head>
<body class="bg-rose-50 font-sans">

  <!-- Navbar -->
  <%- include('../partials/nav') %>

  <!-- Main Content -->
  <div class="container mx-auto px-4 py-10">
    <h1 class="text-5xl font-extrabold text-center text-rose-600 mb-12 drop-shadow-md">you are in home detail page</h1>
  </div>

</body>
</html>
